# DJANGO DATA
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=


# ADMIN DATA
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=


# DATABASE DATA
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=